@model  IEnumerable<Take2.Models.MatchResult> 

@{
    ViewBag.Title = "Index :resultslist";
}

<h2>Index :resultslist</h2>


@foreach (var result in Model)
{
    <p>@result.ID: @result.hteam -vs- @result.ateam</p>
}


<p> work goddamn you! too much agilityfail... </p>